@page
@model Project.Presentation.Areas.Admin.Pages.Users.AddModel
@{
	Layout = "../Shared/_Layout.cshtml";
}

<div class="input-group">
	<form method="post">
		<div asp-validation-summary="All" class="text-danger"></div> 

		<label asp-for="UserName">Username: </label>
		<input type="text" class="form-control col-4" asp-for="UserName" />
		
		<br />
		<label asp-for="Email">Email: </label>
		<input type="text" class="form-control col-4" asp-for="Email" />

		<br />
		<label asp-for="Password">Password: </label>
		<input type="password" class="form-control col-4" asp-for="Password" />
		
		<br />
		<button type="submit" class="btn btn-success">Create</button>
	</form>


</div>